<!DOCTYPE html>
<html>

<body>
  <div style="text-align: center;">
    <form action="/accounts">
      <button style="top: 50%; position:absolute; background-color: #ffa500; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px" id="button">Show me the Accounts!</button>
    </form>
  </div>
</body>

</html>